/* * {
  color: red;
} */

/* div {
  background: red;
} */

/* span {
  background: red;
} */

/* .myClass {
  background: red;
}

#myId {
  background: red;
} */

/* .wh {
  color: white;
} */

/* div.wh {
  color: white;
} */

/* span,li {
  background: lightblue;
} */

/* span,
li.red {
  background: red;
} */

/* Selecting child and grand child */

/* div h1 {
  background: red;
} */

/* div .class {
  background: red;
} */

/* Selecting direct child */

/* div > h1 {
  background: red;
} */

/* sibling selectors */
/* li.red ~ li {
  background: red;
} */

/* li.red + li {
  background: red;
} */

/* pseudo selectors */

/* li:hover {
  background: rebeccapurple;
} */

/* input:focus {
  background: red;
} */

/* li:active {
  background: rebeccapurple;
} */

/* li:first-child {
  background: red;
} */
/* 
li:last-child {
  background: red;
} */

/* li:nth-child(3) {
  background: red;
} */
/* li:nth-child(2n) {
  background: red;
} */

/* li:nth-last-child() */

/* Similarly we have only child, first of type, last of type */

/* li:not(.red) {
  background: green;
} */
